# Setup venv for ramses_cc under Hass

# last updated 2024-08-17, based on HA 2024.8.x
#  - to check against manifest.json, github workflows
#

# Pre-requisites & install...
#   deactivate & rm -rf venv
#   script/setup  # python3.12 -m venv --prompt hass venv
#   source venv/bin/activate.fish
#

# used for testing
  #
  ramses_rf>=0.42.0                # -e ~/clients/ramses_rf

# used for linting/typing
  pre-commit>=3.7.1
  ruff>=0.5.7

  mypy>=1.11.1
  types-paho-mqtt>=1.6.0.20240321
# voluptuous>=0.15.2
