# Setup venv for pytest of ramses_cc

# last updated 2024-03-16, based on HA 2024.3.1
#  - to check against manifest.json, github workflows
#

# Pre-requisites & install...
#   deactivate & rm -rf venv
#   python3.12 -m venv --prompt ramses_cc venv
#   source venv/bin/activate.fish
#

# used for testing (includes HA)
  pytest_homeassistant_custom_component>=0.13.113
  ramses_rf>=0.31.17            # -e ~/clients/ramses_rf
