# Requirements to test the source code
# - last checked/updated: 2024-09-10 (c.f. HA 2024.10.x)
#

# for using the the library with HA
# - pip list | grep -E 'pytest|voluptuous'

  -r requirements_dev.txt


# used for testing (incl. HA, voluptuous, pytest*, etc.)
# - pytest

  pytest_homeassistant_custom_component >= 0.13.162
