# Setup venv for ramses_cc under Hass

# last updated 2024-03-16, based on HA 2024.3.1
#  - to check against manifest.json, github workflows
#

# Pre-requisites & install...
#   deactivate & rm -rf venv
#   script/setup  # python3.12 -m venv --prompt hass venv
#   source venv/bin/activate.fish
#

# used for testing
  #
  ramses_rf>=0.31.13               # -e ~/clients/ramses_rf

# used for linting/typing
  pre-commit>=3.6.2
  ruff>=0.3.3                      # HA uses 0.2.1

  mypy>=1.9.0                      # HA uses 1.8.0
  types-paho-mqtt>=1.6.0.20240106
# voluptuous>=0.14.2               # HA used 0.13.1
